.x-axis path, .y-axis path
.x-axis line, .y-axis line
  fill: none
  stroke: black
  shape-rendering: crispEdges

div.tooltip
  position: absolute
  max-width: 200px
  height: auto
  padding: 5px
  background-color: white
  border-radius: 5px
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5)
  font-family: 'sans-serif'
  font-size: 12px

input:focus
  outline: none
.axis path,
.axis line {
    stroke: #000;
    fill: none;
}
.bubble {
    fill: #df4d4d;
    fill-opacity: 0.5;
}
